@import "variable";
@import "common";

body {
  background-color: #25262E;
  color: #fff;
}

.ss {
  width: $phone-width * 2 / 3;
}

.page-header {
  margin-top: 40px;
  h2.header-title {
    font-size: x-large;
  }
}
